<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="VRCLogAnalyzer.log" />
    <target name="logconsole" xsi:type="Console" />
    <target name="debuglogfile" xsi:type="File" fileName="VRCLogAnalyzer_Debug.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <!-- デバッグログを使う場合は以下の行のコメントアウトを外す -->
    <!--
      <logger name="*" minlevel="Debug" writeTo="debuglogfile" />
    -->
  </rules>
</nlog>